


<div class="container container-mobile p-t-md border  ">
    <div class="text-center">
    <h3 style="color:#20bbb3">hellooooooo</h3>
    </div>
     <div class="row">
        <div class="col-8 offset-2 mb-3" >
            <div class="card " >
                <div class="card-body text-center">
                    
                
                
                
                </div>
                

            </div>
        </div>
    </div>

</div>


<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="zUICpKfA1F4EeB33TE05X3gan0yvwDcvc5IpOzwsZlGh156IypHuuE83+6cRP1SVmZFvNs41wisOjmzmJqXo1A==" />

    <link rel="stylesheet" media="all" href="/assets/application-b0b5d4fddb4e1addad5b5767be0a2a12c75d296ab4e6e361886e53a93c83b52a.css" data-turbolinks-track="reload" />
    <script src="/assets/application-8513bf5485473fb9b325ff2a1e4e2659e069a41bc4ad9f8bf0cbb9ec90263256.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
   

    <p class="notice">Signed in successfully.</p>
    <p class="alert"></p>
    <div class="container-fluid">
      <div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					Latest Orders
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Friend's activties
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

    </div>
  </body>
</html>

